# Sandbox file used for development (might include sensitive data)
sandbox.cpp

# Mercurial files
.hg
.hgignore

# KDevelop
*.kdev4

build/
deps/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
